/* CHAT PAGE */
.str-chat-channel-list{
    min-width: 20vw;
    max-width: 20vw;
    border: 1px solid;
    border-left: hidden;
  }
  
  .str-chat-channel{
    border: 1px solid;
    border-left: hidden;
    height: calc(100vh - 1rem);
    width: 100%;
    overflow: auto;
  }
  
  .channelList{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .channelList-container{
    overflow: auto;
  }
  
  .channelList-button{
    background-color: rgb(79, 126, 202);
    font-size: medium;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: solid black 2px;
    width: 90%;
  }
  
  .channelList-button:hover{
    background-color: rgb(127, 163, 221);
    cursor: pointer;
  }
  
  .channelList-channel_image{
    width: 10em;
    height: 10em;
    border-radius: 9999px;
    object-position: center;
    object-fit: cover;
  }
  
  .channelList-default_image{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 999px;
    text-align: center;
    background: rgb(0, 95, 255);
    grid-column: 1;
  }
  
  .channelList-channel-name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    grid-column: 2;
    font-weight: 500;
  }
  
  .channelList-channel{
    border-radius: 0.5rem;
    display: grid;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    font-size: medium;
  }
  
  .channel-active{
    background-color: rgb(59 130 246);
    color: aliceblue;
  }
  
  .channel-notActive{
    background-color: rgb(243 244 246);
  }
  
  .channel-notActive:hover{
    background-color: rgb(219 234 254);
    cursor: pointer;
  }
  
  /* END CHAT PAGE CSS */