#nav {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  border-style: solid;
  border-width: 1px;
=======
  outline: 1px solid;
  outline-color: black;
>>>>>>> ba6b43c516b21a66d321f68c2a59df3fd1d4f114
  max-width: 6vw;
  min-width: 80px;
  min-height: 95vh;
  justify-content: space-evenly;
}

img {
  flex: 1;
  width: 65px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#chat_button,
#task_button {
  min-width: 55px;
}
