#nav {
  display: flex;
  flex-direction: column;
  outline: 1px solid;
  outline-color: black;
  max-width: 6vw;
  min-width: 80px;
  min-height: 95vh;
  justify-content: space-evenly;
}

<<<<<<< HEAD
img{
    flex:1;
    width: 6vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
=======
img {
  flex: 1;
  width: 65px;
  display: block;
  margin-right: auto;
  margin-left: auto;
>>>>>>> ba6b43c516b21a66d321f68c2a59df3fd1d4f114
}

#chat_button,
#task_button {
  min-width: 55px;
}
